body{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 100vw 100vh;
    min-height: 125vh;
    font-size: 18px;
}
