#elerhetosegek{
    position: absolute;
    min-height: 70vh;
    top: 100vh;
    width: 100%;

}

#tablazat{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.8);
    padding: 2em;
    border-radius: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;

}
#unnepnapok{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.8);
    padding: 2em;
    border-radius: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}