#fooldal{
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;

}
#cim{
    background-color: rgba(36, 36, 36, 0.8);
    padding: 2em;
    border-radius: 1em;
    width: fit-content;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    max-width: 60vw;
}

.lead{
    font-size: 2rem;
    line-height: 1em;
}

.rendeles_div{
    background-color: rgba(36, 36, 36, 0.8);
    padding: 4em;
    border-radius: 1em;
    width: fit-content;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    max-width: 60vw;
}

